<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Good Event</mat-card-title>
        <mat-card-subtitle>Hop full</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="assets\download.jpg" alt="">
    <mat-card-content>
<p>mat-icon selector used to display Material icons in Angular.We have around 900+ Angular Material icons.To show the below mat-icon list icons ...</p>
    </mat-card-content>
    <mat-card-footer>
<mat-card-actions>
    <button mat-button ><mat-icon>thumb_up</mat-icon> Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
</mat-card-actions>
    </mat-card-footer>

    
</mat-card>
<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Good Day</mat-card-title>
        <mat-card-subtitle>Thanks God</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="assets\download.jpg" alt="">
<mat-card-content>
    <p>Failed to load document: /docs-content/overviews/material/icon/icon.html. Error: Unknown Error</p>
</mat-card-content>
<mat-card-footer>
    <mat-card-actions>
        <button mat-button (click)="addLike()"><mat-icon matBadge="{{likes}}" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="visivility" >thumb_up</mat-icon>Like</button>
        <button mat-button> <mat-icon color="primary">share</mat-icon>Share</button>
    </mat-card-actions>
</mat-card-footer>
</mat-card>