    <div class="card">
       <div>
        <div class="card-img-wrrapper ">
            <img *ngIf="property.image" class="card-img-top" src="assets/image/{{property.image}}.jfif" >
            <img *ngIf="!property.image" class="card-img-top" src="assets/download.jpg" alt="">
            <ul  class="list-inline text-center member-icon animation">
                <li  class="list-inline-item ">
                    <button class="btn btn-primary">E</button>
                </li> 
                <li class="list-inline-item">
                    <button class="btn btn-primary" (click)="addProperty(property.id)">C</button>
                </li>
            </ul>
            </div>
       </div></div>
<div class="card-body p-2">
    <h1>{{property.name}}</h1>
    <h2>{{property.type}}</h2>
    <h3>{{property.price}}</h3>
</div>
